.hide {
    display: none;
}

.accessory-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Aggiungi questa riga */
}

.checkbox-item {
  margin-right: 10px; /* Aggiungi spazio tra le caselle di controllo */
  margin-bottom: 10px; /* Aggiungi spazio sotto le caselle di controllo */
}
.order-history-table th,
.order-history-table td {
    /* Imposta la larghezza desiderata per le colonne */
    width: 500px; /* Modifica il valore a seconda delle tue esigenze */
    text-align: left; /* Allinea il testo a sinistra */
}

.order-history-table th.text-center,
.order-history-table td.text-center {
    /* Imposta la larghezza desiderata per la colonna con classe text-center */
    width: 50px; /* Modifica il valore a seconda delle tue esigenze */
    text-align: center; /* Allinea il testo al centro */
}
.order-products {
  display: none;
}

.tt-address-info .fa-trash-can {
  position: absolute;
  bottom: 10px; /* Regola la distanza dal basso come desiderato */
  right: 10px; /* Regola la distanza dal lato destro come desiderato */
  cursor: pointer; /* Cambia il cursore quando passi sopra all'icona */
}
.ptb-80 {
  padding-bottom: 80px 
}

