.hide {
    display: none;
}

.accessory-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Aggiungi questa riga */
}

.checkbox-item {
  margin-right: 10px; /* Aggiungi spazio tra le caselle di controllo */
  margin-bottom: 10px; /* Aggiungi spazio sotto le caselle di controllo */
}
  